name: Deploy Aggregated Docs to Custom Domain

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 2 * * *'  # Runs daily at 2 AM UTC

permissions:
  contents: write

jobs:
  aggregate-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout `dataartifex.github.io` Repository
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Fetch Docs for `dartfx-dditoolkit` Repository
        run: |
          rm -rf docs/dartfx-dditoolkit
          git clone --depth 1 --branch gh-pages https://${{ secrets.HVDNET_DEV_ACCESS_TOKEN }}@github.com/dataartifex/ddi-toolkit.git docs/dartfx-dditoolkit
          rm -rf docs/dartfx-dditoolkit/.git

      - name: Fetch Docs for `dartfx-postmanapi` Repository
        run: |
          rm -rf docs/dartfx-postmanapi
          git clone --depth 1 --branch gh-pages https://${{ secrets.HVDNET_DEV_ACCESS_TOKEN }}@github.com/dataartifex/postman-api.git docs/dartfx-postmanapi
          rm -rf docs/dartfx-postmanapi/.git

      - name: Fetch Docs for `dartfx-rdftoolkit` Repository
        run: |
          rm -rf docs/dartfx-rdftoolkit
          git clone --depth 1 --branch gh-pages https://${{ secrets.HVDNET_DEV_ACCESS_TOKEN }}@github.com/dataartifex/rdf-toolkit.git docs/dartfx-rdftoolkit
          rm -rf docs/dartfx-rdftoolkit/.git

      - name: Fetch Docs for `dartfx-unf` Repository
        run: |
          rm -rf docs/dartfx-unf
          git clone --depth 1 --branch gh-pages https://${{ secrets.HVDNET_DEV_ACCESS_TOKEN }}@github.com/dataartifex/dartfx-unf.git docs/dartfx-unf
          rm -rf docs/dartfx-unf/.git

      - name: Commit and Push Aggregated Docs
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Update aggregated documentation" || echo "No changes to commit"
          git push origin main
